body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #ffffff;
    padding: 20px;
}

.spoiler-button {
    background-color: #1da1f2;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 10px;
}

.spoiler-button:hover {
    background-color: #0d95e8;
}

.spoiler-content {
    display: none;
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #e1e8ed;
    border-radius: 10px;
    background-color: #f5f8fa;
    text-align: justify;
    font-size: 16px;
    line-height: 1.5;
    color: #0f1419;
}

.tweet {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #e1e8ed;
    border-radius: 10px;
    background-color: #ffffff;
}

.tweet-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tweet-image {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 10px;
}

.tweet-header-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.tweet-handle {
    font-size: 15px;
    color: #1da1f2;
}

.follow-button {
    background-color: #1da1f2;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
}

.follow-button:hover {
    background-color: #0d95e8;
}

.tweet-text {
    font-size: 23px;
    line-height: 1.3;
    color: #0f1419;
    margin: 20px 0 0 0;
    white-space: pre-wrap;
}

input {
    font-family: inherit;
    font-size: inherit;
    width: auto;
    border: none;
    padding: 0 2px;
    color: #0f1419;
    background: transparent;
    box-sizing: content-box;
}

input:focus {
    outline: none;
    border-bottom: 2px solid #1da1f2;
}

input::placeholder {
    color: grey;
}

.tweet-time {
    font-size: 14px;
    color: #657786;
    margin-top: 10px;
}